### Basics

In [1]:
int()

0

In [4]:
int(1)

1

In [5]:
print("Hello world")

Hello world

In [7]:
age = 32

In [10]:
print("My age is ", age)

My age is  32

In [15]:
#f string
print(f"My age is : {age}")

My age is : 32

In [18]:
## format()
name = "Krish"
age = 32
print("My name is {} and age is {}". format( name,age))

My name is Krish and age is 32

In [19]:
#placeholder
print("My name is {firstname} and age is {firstage}". format(firstname =  name, firstage= age))

My name is Krish and age is 32

In [21]:
degree =  "BE"

In [22]:
#placeholder
print("My name is {firstname} and age is {firstage} and degree is {firstdegree}". format(firstname =  name, firstage= age, firstdegree = degree))

My name is Krish and age is 32 and degree is BE

In [24]:
#fstring
print(f"My name is {name} and age is {age} and degree is {degree}")

My name is Krish and age is 32 and degree is BE

## Control flow
### Decision Making Statements
1. if
2. elif
3. if else
4. Nested if
5. Single statement Suites

In [25]:
# If statements
age = 18
if age >= 18:
    print("You are eligible to vote")

You are eligible to vote

In [31]:
age1 = int(input())
if age1>= 18 and age1 <= 45:
    print("You are young blood")

 32

You are young blood

In [27]:
age1 = int(input("Enter the age"))
if age1>= 18 and age1 <= 45:
    print("You are young")

Enter the age 34

You are young

In [33]:
# If else statements
age1 = int(input("Enter the age"))
if age1>= 18 and age1 <= 45:
    print("You are young blood")
else:
    print("Thank you, we will let you know")

Enter the age 65

Thank you, we will let you know

In [42]:
# If else statements
price = int(input('Enter the price'))
if price > 1000:
    print("You get 10% off on",price)
    discounted_price = price*(1-0.1)  
    print("You pay",int(discounted_price))
else:
    print("You get 30% off", price)
    discounted_price = price*(1-0.3) 
    print("You pay",int(discounted_price))

Enter the price 5000

You get 10% off on 5000
You pay 4500

In [44]:
# If elif else statements
price = int(input('Enter the price'))
if price > 3000:
    print("You get 20% off on",price)
    discounted_price = price*(1-0.2)  
    print("You pay",int(discounted_price))
elif price >=2000 and price <= 3000:
    print("You get 30% off", price)
    discounted_price = price*(1-0.3) 
    print("You pay",int(discounted_price))
else:
    print("You get 40% off", price)
    discounted_price = price*(1-0.4) 
    print("You pay",int(discounted_price))

Enter the price 30

You get 40% off 30
You pay 18

In [45]:
price = int(input('Enter the price'))
if price > 3000:
    print("You get 20% off on",price)
    discounted_price = price*(1-0.2)  
    print("You pay",int(discounted_price))
elif price >=2000 and price <= 3000:
    print("You get 30% off", price)
    discounted_price = price*(1-0.3) 
    print("You pay",int(discounted_price))
elif price >=100 and price <= 2000:
    print("You get 40% off", price)
    discounted_price = price*(1-0.4) 
    print("You pay",int(discounted_price))
else:
    print("Lets have tea")

Enter the price 4565

You get 20% off on 4565
You pay 3652

In [48]:
price = int(input('Enter the price'))
if price > 3000:
    print("You get 20% off on",price)
    discounted_price = price*(1-0.2)  
    print("You pay",int(discounted_price))
elif price >=2000 and price <= 3000:
    if price == 2999:
        print("Congratulations, you get an additional gift, a suitcase and also")
    print("You get 30% off", price)
    discounted_price = price*(1-0.3) 
    print("You pay",int(discounted_price))
elif price >=100 and price <= 2000:
    print("You get 40% off", price)
    discounted_price = price*(1-0.4) 
    print("You pay",int(discounted_price))
else:
    print("Lets have tea")

Enter the price 2999

Congratulations, you get an additional gift, a suitcase and also
You get 30% off 2999
You pay 2099

In [50]:
##Single statements suites
val = int(input("Enter the number"))
if(val <= 999): print('Value is less than 999')
else:
    print("Go Home")

Enter the number 33

Value is less than 999

## Loop Statements
1. While loop
2. For loop
3. Nested loops
4. Loop control(break, continue, pass)

In [1]:
# while loop
joining_age = 55
while joining_age<=60:
    joining_age = joining_age + 1
    print(joining_age)
else:
    print("Sorry its time to retire")

56
57
58
59
60
61
Sorry its time to retire

In [1]:
## Atm machine

In [3]:
total_amount = 1000
while total_amount != 0:
    print(total_amount)
    total_amount = total_amount-100
else:
    print("Put more money")

1000
900
800
700
600
500
400
300
200
100
Put more money

## For Loop

In [4]:
lst = ["Krish", 1,2 ,3 ,4,5,6]
lst

['Krish', 1, 2, 3, 4, 5, 6]

In [5]:
for i in lst:
    print(i)

Krish
1
2
3
4
5
6

In [6]:
fruits_list = ["Mango", "Cherry", "Litchi", "Pineaaple"]
fruits_list

['Mango', 'Cherry', 'Litchi', 'Pineaaple']

In [9]:
for i in fruits_list:
    print(i)
    if i == "Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Litchi
Pineaaple

In [10]:
fruit = "Mango"
for i in fruit:
    print(i)

M
a
n
g
o

In [13]:
fruit[2]

'n'

In [14]:
fruit = "Mango"
for i in fruit:
    print(i, end='')

Mango

In [15]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [16]:
for i in range(1,6,2):
    print(i)

1
3
5

In [18]:
##Nested Loops
n=7
for i in range (0,n):
    for j in range(0, i+1):
        print("*", end = "")
    print("\r") ##\r means move to extreme left, from where it started

*
**
***
****
*****
******
*******

In [19]:
##Nested Loops
n=7
for i in range (0,n):
    for j in range(0, i+1):
        print("*", end = "")
    print("\n") ##\n means newline

*

**

***

****

*****

******

*******

## Loop Control
1. Break
2. Continue

In [22]:
fruits_list = ["Mango", "Cherry","Apple", "Litchi", "Pineaaple"]
fruits_list

['Mango', 'Cherry', 'Apple', 'Litchi', 'Pineaaple']

In [25]:
for i in fruits_list:
    if i == "Apple":
        print("The fruit is Apple")
    print(i)

Mango
Cherry
The fruit is Apple
Apple
Litchi
Pineaaple

In [23]:
for i in fruits_list:
    if i == "Apple":
        print("The fruit is Apple")
        break
    print(i)

Mango
Cherry
The fruit is Apple

In [24]:
for i in fruits_list:
    if i == "Apple":
        print("The fruit is Apple")
        continue
    print(i)

Mango
Cherry
The fruit is Apple
Litchi
Pineaaple

In [26]:
for i in fruits_list:
    if i == "Apple":
        print("The fruit is Apple")
        pass
    print(i)

Mango
Cherry
The fruit is Apple
Apple
Litchi
Pineaaple