## Measure of Dispersion

### Variance and Statndard Deviation

In [1]:
ages_list = [23,43,33,65,33,64,54,22,55]

In [2]:
import numpy as np

In [4]:
mean = np.mean(ages_list)
mean

43.55555555555556

In [5]:
var = np.var(ages_list)
var

247.5802469135802

In [8]:
std = np.std(ages_list)
std

15.734682930188972

In [9]:
import pandas as pd

In [10]:
data = [[10,12,13],[32,23,45], [32,22,21]]

In [11]:
data

[[10, 12, 13], [32, 23, 45], [32, 22, 21]]

In [14]:
df = pd.DataFrame(data, columns = ['A','B','C'])

In [15]:
df

    A   B   C
0  10  12  13
1  32  23  45
2  32  22  21

In [20]:
df.var() ## column wise variance

A    161.333333
B     37.000000
C    277.333333
dtype: float64

In [21]:
df.var(axis = 1) ## row wise variance

0      2.333333
1    122.333333
2     37.000000
dtype: float64