## One Hot Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.DataFrame({'color': ['red', 'green','blue','red', 'green','blue']})

In [3]:
df

   color
0    red
1  green
2   blue
3    red
4  green
5   blue

In [4]:
## create an instatnce of OneHotEncoder
encoder = OneHotEncoder()

In [5]:
encoded = encoder.fit_transform(df[['color']]).toarray()## it gets arranged in alphabetical order

In [6]:
encoder_df = pd.DataFrame(encoded, columns = encoder.get_feature_names_out())

In [7]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0
5         1.0          0.0        0.0

In [8]:
encoder.transform([['blue']]).toarray()## for new data

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [9]:
pd.concat([df, encoder_df],axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1  green         0.0          1.0        0.0
2   blue         1.0          0.0        0.0
3    red         0.0          0.0        1.0
4  green         0.0          1.0        0.0
5   blue         1.0          0.0        0.0

## Label Encoding

In [10]:
df

   color
0    red
1  green
2   blue
3    red
4  green
5   blue

In [11]:
from sklearn .preprocessing import LabelEncoder

In [12]:
lbl_encoder = LabelEncoder()

In [13]:
lbl_encoder.fit_transform(df[['color']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0, 2, 1, 0])

In [17]:
lbl_encoder.transform([['red']])

array([2])

## Ordinal Encoding

In [4]:
## Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder

In [5]:
import pandas as pd
df = pd.DataFrame({'size' : ['small', 'medium', 'large', 'medium', 'small', 'large']})

In [6]:
ord_encoder = OrdinalEncoder(categories = [['small', 'medium', 'large']])

In [7]:
ord_encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

### Target Guided Ordinal Encoding

In [8]:
df = pd.DataFrame({
'city' : ['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris'],
'price' : [200, 150, 300, 250, 180, 320]    
})

In [9]:
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [13]:
mean_Price = df.groupby('city')['price'].mean().to_dict()

In [14]:
mean_Price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [15]:
df['city_encoded'] = df['city'].map(mean_Price)

In [16]:
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0